.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  

  .tooltip-box {
    position: absolute;
    background-color: #006fee;
    color: #fff;
    font-size: 12px;
    padding: 4px 12px 4px 12px;
    border-radius: 12px;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tooltip-container:hover .tooltip-box {
    visibility: visible;
    opacity: 1;
  }
  

  .tooltip-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8px;
  }

  .tooltip-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
  }
  

  .tooltip-left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 8px;
  }
  

  .tooltip-right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
  }
  